In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Exploratory Data Analysis

In [2]:
df = pd.read_csv(
    "/home/kaustav/Desktop/Kaggle-Workspace/House-Prices-Advanced-Regression-Techniques/data/train.csv")
df.sample(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
881,882,50,RL,44.0,13758,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2007,WD,Normal,187500
1082,1083,20,RL,70.0,8749,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2007,WD,Normal,192000
868,869,60,RL,NaN,14762,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,169000
979,980,20,RL,80.0,8816,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2009,WD,Normal,139000
1253,1254,60,RL,NaN,17542,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2007,WD,Normal,294000
659,660,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,167000
158,159,60,FV,100.0,12552,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2010,WD,Normal,254900
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900
396,397,20,RL,60.0,7200,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,123000
762,763,60,FV,72.0,8640,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,Con,Normal,215200

In [3]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [5]:
df.columns[df.dtypes == 'object']

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [6]:
# Dealing with multiple categorical columns
categorical_columns = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition']

df_dummies = pd.get_dummies(df, columns = categorical_columns)
df_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
535,536,190,70.0,7000,5,7,1910,1991,0.0,969,...,0,0,0,1,0,0,0,0,1,0
80,81,60,100.0,13000,6,6,1968,1968,576.0,448,...,0,0,0,1,0,0,0,0,1,0
1394,1395,120,53.0,4045,7,5,2006,2006,45.0,1070,...,0,1,0,0,0,0,0,0,0,1
747,748,70,65.0,11700,7,7,1880,2003,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1411,1412,50,80.0,9600,6,8,1950,2005,0.0,120,...,0,0,0,1,0,0,0,0,1,0
390,391,50,50.0,8405,5,8,1900,1950,0.0,241,...,0,0,0,1,0,0,0,0,1,0
128,129,60,69.0,7590,6,5,1966,1966,266.0,512,...,0,0,0,1,0,0,0,0,1,0
762,763,60,72.0,8640,7,5,2009,2009,0.0,24,...,0,0,0,0,0,0,0,0,1,0
855,856,20,NaN,6897,5,8,1962,2010,0.0,659,...,0,0,0,1,0,0,0,0,1,0
1147,1148,70,75.0,12000,7,7,1941,1950,0.0,275,...,0,0,0,1,0,0,0,0,1,0

In [7]:
X = df_dummies.loc[:, df_dummies.columns != "SalePrice"]
y = df_dummies["SalePrice"]

In [8]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.85, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((1241, 289), (219, 289), (1241,), (219,))

# Fill NaN values with mean only after train_test_split to prevent data leakage

In [9]:
X_train.fillna(X_train.mean() , inplace = True)
X_val.fillna(X_val.mean() , inplace = True)

/home/kaustav/.local/lib/python3.6/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [10]:
X_train.columns[X_train.isnull().sum() > 0 ] , X_val.columns[X_val.isnull().sum() > 0 ]

(Index([], dtype='object'), Index([], dtype='object'))

In [11]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)
print("Simple Linear Regressor" , lin_reg.score(X_train,y_train))

Simple Linear Regressor 0.9394600229747782

In [12]:
print(lin_reg.intercept_) 
print(lin_reg.coef_)

3469.0216739006864
[ 4.45756194e-01 -6.95181060e+00  1.80881775e+01  8.81321481e-01
  7.58272546e+03  4.78795609e+03  3.22759693e+02  1.30811743e+02
  2.05584423e+01  1.73959555e+01  3.78023084e+00  1.12182603e+00
  2.22981677e+01  5.14110712e+00  2.34731629e+01  4.16502576e+00
  3.27797967e+01  2.12648368e+03  9.23560050e+02  3.01006557e+03
  2.38625482e+03 -3.07943643e+03 -1.24994245e+04  1.90706141e+03
  3.57438945e+03 -7.39326069e+01  7.44963066e+02  3.48729642e+01
  1.95468880e+01 -9.18099440e-01  1.25446986e+01  3.50173122e+01
  4.33809659e+01  6.44389973e+03  2.37326488e+00 -4.09298313e+02
 -3.39383774e+02 -1.69045772e+04  1.08974767e+04  3.99961533e+02
  2.16747784e+03  3.43966113e+03 -1.64588982e+04  1.64588982e+04
  2.95138859e+03  3.77396353e+03 -3.66848847e+03  2.48937792e+03
  1.98237404e+03 -8.03263488e+02 -1.08863808e+03  9.13868412e+03
 -1.09055204e+04  2.85547431e+03  2.11249527e+04 -2.11249527e+04
  4.35757722e+03  1.50260387e+04 -1.02496883e+03 -2.20139796e+04
  3.65533251e+03  2.01704264e+04  2.70214489e+04 -4.71918754e+04
  7.49682009e+03  3.78247507e+03  4.36368002e+02 -1.60230209e+03
 -8.20610559e+03 -5.02768873e+03  1.28119999e+04 -1.62757300e+04
 -6.20247171e+03 -1.55101578e+04 -8.20170808e+03 -1.69374728e+04
 -1.22078084e+04  1.81583686e+04 -1.46601205e+04  2.14460936e+04
  2.65038447e+04 -1.51935476e+04 -4.78374503e+03 -5.84483738e+03
 -7.40440328e+02  1.88012152e+02  3.86584495e+04 -4.93166921e+03
  6.84337367e+03 -6.47017191e+03 -4.08371601e+01  8.13668791e+03
  3.12902077e+03  9.35570452e+03 -2.39495944e+04  8.12673112e+03
 -8.43575738e+03  1.01482165e+04  4.52831689e+04  4.33280791e+04
  3.61534868e+04  8.16866548e+04 -1.93252817e+05 -8.10275924e+04
  3.14882509e+04  3.63407690e+04  1.36310634e+04  4.99837489e+03
  2.92759993e+02 -1.08031167e+04 -8.11908159e+03  2.26810730e+03
  1.40064077e+04  7.88869934e+03 -2.17953526e+04 -3.57869423e+03
 -3.48342379e+03 -2.55706151e+01  4.71982694e+03 -2.11195336e+04
 -2.00263570e+04 -1.51550311e+04 -2.05484118e+04 -6.29146991e+03
  8.31408035e+04  8.22147762e+05 -1.47413560e+05  5.78584149e-08
 -7.45399427e+04 -1.50950005e+05 -1.46175619e+05 -1.59051559e+05
 -1.44017076e+05  9.20649353e+03 -2.56391607e+03  8.18935714e+03
  1.55765976e+04 -1.15677070e+03 -1.02010448e+04 -3.28199193e+03
 -3.43971264e+03  2.50645341e+03 -1.71742843e+03  1.33233131e+04
 -5.71030501e+03 -5.40447147e+03 -9.89396910e+03 -5.43260465e+03
 -6.29007360e+03 -9.07995176e+01 -5.75583423e+03  6.70205505e+03
 -1.15677070e+03  1.34708011e+04  7.52250405e+02  4.46242351e+03
 -1.30260215e+03 -2.25355395e+04 -1.57949371e+03 -1.29527118e+04
  9.86814507e+03  5.13071274e+03  9.49512992e+03  1.78230741e+03
 -9.06371675e+03  1.58483482e+02  2.98899594e+03  2.70098833e+03
  1.46155717e+04 -9.37643753e+02 -6.85236742e+03 -6.82556056e+03
  7.56432011e+02 -3.80683521e+03 -5.30199739e+03  1.34402433e+04
 -5.08784272e+03  1.44408493e+03  5.11406083e+03  8.30433065e+03
 -6.13964735e+03  1.24188629e+04 -2.11416920e+04  9.34932171e+03
 -1.10462621e+03 -7.61946588e+03 -5.12357302e+03 -2.67050665e+04
 -2.52451600e+04  6.79750610e+04 -2.05231779e+04  1.15867346e+04
  2.65017437e+04  9.94904643e+03  7.76002083e+03 -1.49341246e+03
 -9.01397878e+02  2.75467565e+03 -4.08121528e+03 -1.34359778e+03
  5.66604343e+02  7.10370994e+03 -3.33363961e+03  2.61451396e+03
 -6.64991667e+03 -8.09150511e+02 -3.42386051e+03  2.07898750e+03
  3.90926432e+03 -2.71838051e+03 -3.88818461e+03 -2.13719243e+04
  2.19902376e+04 -3.03485545e+03 -6.11634422e+01 -5.73501914e+03
  1.30595975e+04 -4.22855947e+03 -6.14723538e+02  6.14723538e+02
 -1.25011801e+04 -1.50301697e+04 -2.39678998e+04 -7.27595761e-12
 -1.45104921e+04  1.22441811e+04 -3.20492444e+02 -5.92416770e+03
 -5.99952092e+03  9.33138170e+03 -4.40094091e+03  9.07802631e+03
  1.28512383e+04 -8.61817784e+02 -4.67093603e+04  2.07114727e+04
 -3.04806972e+03 -6.12151021e+03 -2.04404825e+03  4.82381526e+02
  3.79395136e+01 -2.61534215e+04 -2.34505566e+03  2.73215387e+03
 -3.37612924e+03  1.03926025e+04 -3.07037922e+02 -5.46699744e+03
 -7.97422263e+03 -5.61566790e+03  1.28015017e+05 -3.57959084e+04
 -2.89908834e+04 -5.22688663e+04 -3.00162471e+04 -1.25986601e+05
  2.54086170e+04  2.50952467e+04  3.01196214e+04  2.63062280e+04
  3.03178808e+03 -3.70956990e+03  6.77781816e+02 -3.33055025e+06
 -4.14639519e+06 -4.68899529e+06 -6.79764449e+03 -7.95895480e+02
  1.54842520e+03 -6.95183927e+03 -3.71208021e+04  6.07118794e+03
 -6.09163717e+02  7.70064167e+05 -9.09467632e+03  8.92585228e+03
  1.09268410e+04  6.69107999e+03 -9.03001936e+03 -1.20616006e+04
  4.71862207e+03  8.69369080e+03 -9.76978986e+03 -7.15146787e+03
  4.61610358e+03  8.57938515e+03 -5.68716115e+03 -5.60389304e+02
  2.03529582e+02]

In [13]:
y_pred = lin_reg.predict(X_val)
df_compare = pd.DataFrame({'Actual': y_val, 'Predicted': y_pred})
df_compare.sample(15)

      Actual      Predicted
56    172500  200320.260087
1036  315500  317009.690336
620    67000   57779.424475
432   122500  119634.698102
239   113000  117282.251472
163   103200  100701.751137
1344  155835  194639.933155
198   104000  117725.606452
906   255000  239028.736923
1094  129000  131608.722406
1414  207000  192131.758832
1450  136000  118651.838349
925   175000  165581.882189
1333  125500  132469.650792
1394  246578  222948.866491

In [14]:
df_test = pd.read_csv("/home/kaustav/Desktop/Kaggle-Workspace/House-Prices-Advanced-Regression-Techniques/data/test.csv")
df_test.sample(15)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
725,2186,20,RL,65.0,6500,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2008,WD,Normal
364,1825,70,RL,50.0,4960,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
575,2036,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
1200,2661,20,RL,121.0,13758,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2006,New,Partial
457,1918,85,RL,75.0,9750,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2009,WD,Normal
266,1727,120,RL,50.0,7175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
199,1660,20,RL,NaN,10710,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,Shed,1200,7,2009,WD,Normal
1052,2513,60,RL,NaN,8883,Pave,NaN,IR1,Lvl,AllPub,...,144,0,NaN,GdPrv,NaN,0,5,2007,WD,Normal
954,2415,90,RL,70.0,8078,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2007,WD,Normal
1270,2731,30,RL,60.0,8550,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,7,2006,WD,Normal
590,2051,20,RL,74.0,7785,Pave,NaN,IR1,Lvl,AllPub,...,200,0,NaN,GdWo,NaN,0,3,2008,WD,Normal
90,1551,30,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Normal
1438,2899,20,RL,70.0,9116,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
878,2339,20,RL,76.0,10612,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2007,WD,Family
861,2322,20,RL,53.0,3710,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2007,New,Partial

In [15]:
df_test_dummies = pd.get_dummies(df_test, columns = categorical_columns)
df_test_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
826,2287,20,96.0,12469,9,5,2006,2007,378.0,1151.0,...,0,1,0,0,0,0,0,0,0,1
773,2234,20,82.0,11202,8,5,2003,2003,206.0,1029.0,...,0,0,0,1,0,0,0,0,1,0
1223,2684,60,NaN,10236,8,5,1994,1995,501.0,380.0,...,0,0,0,1,0,0,0,0,1,0
354,1815,30,50.0,5925,2,4,1940,1950,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
312,1773,20,80.0,10400,4,5,1956,1956,0.0,155.0,...,0,0,0,1,0,0,0,1,0,0
1308,2769,20,70.0,7000,5,4,1961,1961,0.0,781.0,...,0,0,0,1,0,0,0,0,1,0
1039,2500,120,39.0,3869,5,6,1984,1984,149.0,283.0,...,0,0,0,1,0,0,0,0,1,0
1106,2567,190,79.0,6221,5,5,1941,1950,0.0,533.0,...,0,0,0,1,0,0,0,0,1,0
1067,2528,20,75.0,9675,5,6,1975,1975,0.0,330.0,...,0,0,0,0,0,0,0,0,1,0
617,2078,20,80.0,8000,5,5,1962,1962,0.0,520.0,...,0,0,0,1,0,0,0,0,1,0

## Making Sure Get Dummies returns the same number of Columns as the Training and Validation sets since all categories might not be present in the Testing set

In [16]:

# df_test = df_test.reindex(columns = X_train.columns, fill_value=0)
X_train, df_test_dummies = X_train.align(df_test_dummies, join='left', axis=1)
X_train.shape, df_test_dummies.shape

((1241, 289), (1459, 289))

In [17]:
df_test_dummies.fillna(df_test_dummies.mean() , inplace = True)
df_test_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
825,2286,20,65.000000,7150,5,6,1966,1966,52.0,725.0,...,0,0,0,1,0,0,0,0,1,0
1273,2734,20,89.000000,10858,5,6,1952,1952,150.0,40.0,...,0,0,0,1,0,0,0,0,0,1
489,1950,20,68.580357,10825,7,7,1983,1983,174.0,747.0,...,0,0,0,1,0,0,0,0,1,0
10,1471,120,26.000000,5858,7,5,1999,1999,0.0,1051.0,...,0,0,0,1,0,0,0,0,1,0
582,2043,80,68.580357,11104,6,6,1969,1969,0.0,828.0,...,0,0,0,1,0,0,0,0,1,0
631,2092,50,63.000000,7628,4,6,1940,1985,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
882,2343,20,70.000000,8251,7,5,2005,2006,143.0,778.0,...,0,0,0,1,0,0,0,0,1,0
584,2045,20,68.580357,15387,7,7,1967,1967,0.0,603.0,...,0,0,0,1,0,0,0,0,1,0
633,2094,30,60.000000,5400,7,6,1920,2006,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1000,2461,50,52.000000,6240,5,8,1939,1952,0.0,48.0,...,0,0,0,1,0,0,0,0,1,0

In [18]:
df_test_dummies.columns[df_test_dummies.isnull().sum() > 0 ]

Index(['Utilities_NoSeWa', 'Condition2_RRAe', 'Condition2_RRAn',
       'Condition2_RRNn', 'HouseStyle_2.5Fin', 'RoofMatl_ClyTile',
       'RoofMatl_Membran', 'RoofMatl_Metal', 'RoofMatl_Roll',
       'Exterior1st_ImStucc', 'Exterior1st_Stone', 'Exterior2nd_Other',
       'Heating_Floor', 'Heating_OthW', 'Electrical_Mix', 'GarageQual_Ex',
       'PoolQC_Fa', 'MiscFeature_TenC'],
      dtype='object')