In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Exploratory Data Analysis

In [3]:
df = pd.read_csv(
    "/home/kaustav/Desktop/Kaggle-Workspace/House-Prices-Advanced-Regression-Techniques/data/train.csv")
df.sample(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
84,85,80,RL,NaN,8530,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,5,2009,WD,Normal,168500
1034,1035,30,RL,50.0,6305,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,6,2007,WD,Normal,119750
73,74,20,RL,85.0,10200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2010,WD,Normal,144900
1062,1063,190,RM,85.0,13600,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2007,WD,Normal,90000
386,387,50,RL,58.0,8410,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,AdjLand,81000
1254,1255,60,RL,60.0,6931,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,165400
1120,1121,30,RM,59.0,8263,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,5,2007,WD,Normal,118400
763,764,60,RL,82.0,9430,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,337000
67,68,20,RL,72.0,10665,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,226000
40,41,20,RL,84.0,8658,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,12,2006,WD,Abnorml,160000

In [4]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [6]:
df.columns[df.dtypes == 'object']

Index([u'MSZoning', u'Street', u'Alley', u'LotShape', u'LandContour',
       u'Utilities', u'LotConfig', u'LandSlope', u'Neighborhood',
       u'Condition1', u'Condition2', u'BldgType', u'HouseStyle', u'RoofStyle',
       u'RoofMatl', u'Exterior1st', u'Exterior2nd', u'MasVnrType',
       u'ExterQual', u'ExterCond', u'Foundation', u'BsmtQual', u'BsmtCond',
       u'BsmtExposure', u'BsmtFinType1', u'BsmtFinType2', u'Heating',
       u'HeatingQC', u'CentralAir', u'Electrical', u'KitchenQual',
       u'Functional', u'FireplaceQu', u'GarageType', u'GarageFinish',
       u'GarageQual', u'GarageCond', u'PavedDrive', u'PoolQC', u'Fence',
       u'MiscFeature', u'SaleType', u'SaleCondition'],
      dtype='object')

In [7]:
# Dealing with multiple categorical columns
categorical_columns = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition']

df_dummies = pd.get_dummies(df, columns = categorical_columns)
df_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
1248,1249,75,60.0,9600,6,5,1917,1950,0.0,319,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
354,355,50,60.0,8400,6,5,1940,2000,0.0,388,...,0,0,0,1,0,0,0,0,1,0
1140,1141,20,60.0,7350,5,7,1951,1951,0.0,852,...,0,0,0,0,1,0,0,0,0,0
1172,1173,160,35.0,4017,7,5,2006,2007,0.0,0,...,0,0,0,1,0,0,0,0,1,0
241,242,30,40.0,3880,5,9,1945,1997,0.0,329,...,0,0,0,1,0,0,0,0,1,0
365,366,70,59.0,10690,5,7,1920,1997,0.0,456,...,0,0,0,1,0,0,0,0,1,0
559,560,120,NaN,3196,7,5,2003,2004,18.0,0,...,0,0,0,1,0,0,0,0,1,0
1293,1294,60,78.0,10140,7,5,1976,1976,0.0,194,...,0,0,0,1,0,0,0,0,1,0
1399,1400,50,51.0,6171,6,6,1925,1990,0.0,264,...,0,0,0,1,0,0,0,0,1,0

In [8]:
X = df_dummies.loc[:, df_dummies.columns != "SalePrice"]
y = df_dummies["SalePrice"]

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.85, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

/home/kaustav/.local/lib/python2.7/site-packages/sklearn/model_selection/_split.py:2178: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((1241, 289), (219, 289), (1241,), (219,))

## Fill NaN values with mean only after train_test_split to prevent data leakage

In [10]:
X_train.fillna(X_train.mean() , inplace = True)
X_val.fillna(X_val.mean() , inplace = True)

/home/kaustav/.local/lib/python2.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [11]:
X_train.columns[X_train.isnull().sum() > 0 ] , X_val.columns[X_val.isnull().sum() > 0 ]

(Index([], dtype='object'), Index([], dtype='object'))

In [12]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)
print("Simple Linear Regressor" , lin_reg.score(X_train,y_train))

('Simple Linear Regressor', 0.9394600229747782)

In [13]:
print(lin_reg.intercept_) 
print(lin_reg.coef_)

3469.0216757554736
[ 4.45756194e-01 -6.95181060e+00  1.80881775e+01  8.81321481e-01
  7.58272546e+03  4.78795609e+03  3.22759693e+02  1.30811743e+02
  2.05584423e+01  1.73959635e+01  3.78023883e+00  1.12183402e+00
  2.22981597e+01  5.14110547e+00  2.34731612e+01  4.16502411e+00
  3.27797984e+01  2.12648368e+03  9.23560050e+02  3.01006557e+03
  2.38625482e+03 -3.07943643e+03 -1.24994245e+04  1.90706141e+03
  3.57438945e+03 -7.39326069e+01  7.44963066e+02  3.48729642e+01
  1.95468880e+01 -9.18099440e-01  1.25446986e+01  3.50173122e+01
  4.33809659e+01  6.44389973e+03  2.37326488e+00 -4.09298313e+02
 -3.39383774e+02 -1.69045772e+04  1.08974767e+04  3.99961532e+02
  2.16747784e+03  3.43966113e+03 -1.64588982e+04  1.64588982e+04
  2.95138859e+03  3.77396353e+03 -3.66848847e+03  2.48937792e+03
  1.98237404e+03 -8.03263488e+02 -1.08863808e+03  9.13868412e+03
 -1.09055204e+04  2.85547431e+03  2.11249527e+04 -2.11249527e+04
  4.35757722e+03  1.50260387e+04 -1.02496883e+03 -2.20139796e+04
  3.65533250e+03  2.01704264e+04  2.70214489e+04 -4.71918754e+04
  7.49682009e+03  3.78247507e+03  4.36368002e+02 -1.60230209e+03
 -8.20610559e+03 -5.02768873e+03  1.28119999e+04 -1.62757300e+04
 -6.20247171e+03 -1.55101578e+04 -8.20170808e+03 -1.69374728e+04
 -1.22078084e+04  1.81583686e+04 -1.46601205e+04  2.14460936e+04
  2.65038447e+04 -1.51935476e+04 -4.78374503e+03 -5.84483738e+03
 -7.40440328e+02  1.88012152e+02  3.86584495e+04 -4.93166921e+03
  6.84337367e+03 -6.47017191e+03 -4.08371602e+01  8.13668791e+03
  3.12902077e+03  9.35570452e+03 -2.39495944e+04  8.12673112e+03
 -8.43575738e+03  1.01482165e+04  4.52831689e+04  4.33280791e+04
  3.61534868e+04  8.16866548e+04 -1.93252817e+05 -8.10275924e+04
  3.14882509e+04  3.63407690e+04  1.36310634e+04  4.99837489e+03
  2.92759993e+02 -1.08031167e+04 -8.11908159e+03  2.26810730e+03
  1.40064077e+04  7.88869934e+03 -2.17953526e+04 -3.57869423e+03
 -3.48342379e+03 -2.55706152e+01  4.71982694e+03 -2.11195336e+04
 -2.00263570e+04 -1.51550311e+04 -2.05484118e+04 -6.29146991e+03
  8.31408035e+04  8.22147762e+05 -1.47413560e+05 -6.60656951e-08
 -7.45399427e+04 -1.50950005e+05 -1.46175619e+05 -1.59051559e+05
 -1.44017076e+05  9.20649353e+03 -2.56391607e+03  8.18935714e+03
  1.55765976e+04 -1.15677070e+03 -1.02010448e+04 -3.28199193e+03
 -3.43971264e+03  2.50645341e+03 -1.71742843e+03  1.33233131e+04
 -5.71030501e+03 -5.40447147e+03 -9.89396910e+03 -5.43260465e+03
 -6.29007360e+03 -9.07995175e+01 -5.75583423e+03  6.70205505e+03
 -1.15677070e+03  1.34708011e+04  7.52250405e+02  4.46242351e+03
 -1.30260215e+03 -2.25355395e+04 -1.57949371e+03 -1.29527118e+04
  9.86814507e+03  5.13071274e+03  9.49512992e+03  1.78230741e+03
 -9.06371675e+03  1.58483483e+02  2.98899594e+03  2.70098833e+03
  1.46155717e+04 -9.37643753e+02 -6.85236742e+03 -6.82556056e+03
  7.56432011e+02 -3.80683521e+03 -5.30199739e+03  1.34402433e+04
 -5.08784272e+03  1.44408493e+03  5.11406083e+03  8.30433065e+03
 -6.13964735e+03  1.24188629e+04 -2.11416920e+04  9.34932171e+03
 -1.10462621e+03 -7.61946588e+03 -5.12357302e+03 -2.67050665e+04
 -2.52451600e+04  6.79750610e+04 -2.05231779e+04  1.15867346e+04
  2.65017437e+04  9.94904643e+03  7.76002083e+03 -1.49341246e+03
 -9.01397879e+02  2.75467565e+03 -4.08121528e+03 -1.34359778e+03
  5.66604342e+02  7.10370994e+03 -3.33363961e+03  2.61451396e+03
 -6.64991667e+03 -8.09150511e+02 -3.42386051e+03  2.07898750e+03
  3.90926432e+03 -2.71838051e+03 -3.88818461e+03 -2.13719243e+04
  2.19902376e+04 -3.03485545e+03 -6.11634427e+01 -5.73501914e+03
  1.30595975e+04 -4.22855947e+03 -6.14723539e+02  6.14723538e+02
 -1.25011801e+04 -1.50301697e+04 -2.39678998e+04  3.63797881e-11
 -1.45104921e+04  1.22441811e+04 -3.20492443e+02 -5.92416770e+03
 -5.99952092e+03  9.33138170e+03 -4.40094091e+03  9.07802631e+03
  1.28512383e+04 -8.61817785e+02 -4.67093603e+04  2.07114727e+04
 -3.04806972e+03 -6.12151021e+03 -2.04404825e+03  4.82381526e+02
  3.79395136e+01 -2.61534215e+04 -2.34505566e+03  2.73215387e+03
 -3.37612924e+03  1.03926025e+04 -3.07037922e+02 -5.46699744e+03
 -7.97422263e+03 -5.61566790e+03  1.28015017e+05 -3.57959084e+04
 -2.89908834e+04 -5.22688663e+04 -3.00162471e+04 -1.25986601e+05
  2.54086170e+04  2.50952467e+04  3.01196214e+04  2.63062280e+04
  3.03178808e+03 -3.70956989e+03  6.77781817e+02 -3.33055025e+06
 -4.14639519e+06 -4.68899529e+06 -6.79764449e+03 -7.95895480e+02
  1.54842520e+03 -6.95183927e+03 -3.71208021e+04  6.07118794e+03
 -6.09163717e+02  7.70064167e+05 -9.09467632e+03  8.92585228e+03
  1.09268410e+04  6.69107999e+03 -9.03001936e+03 -1.20616006e+04
  4.71862207e+03  8.69369080e+03 -9.76978986e+03 -7.15146787e+03
  4.61610358e+03  8.57938515e+03 -5.68716115e+03 -5.60389304e+02
  2.03529582e+02]

In [14]:
y_pred = lin_reg.predict(X_val)
df_compare = pd.DataFrame({'Actual': y_val, 'Predicted': y_pred})
df_compare.sample(15)

      Actual      Predicted
1347  283463  294304.292842
429   175000  195690.387128
218   311500  240960.371409
1053  144500  156306.805748
271   241500  281480.020647
1317  208900  199671.279403
836   153500  163147.444570
796   143500  146874.287803
1138  196000  235224.750364
1006  163500  188289.127369
1306  202500  205578.216855
736    93500   45505.548943
1102  135000  120053.038323
585   369900  337799.940127
67    226000  214641.454652

In [38]:
df_test = pd.read_csv("/home/kaustav/Desktop/Kaggle-Workspace/House-Prices-Advanced-Regression-Techniques/data/test.csv")
df_test.sample(15)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1427,2888,50,RM,50.0,7000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,5,2006,WD,Normal
764,2225,90,RL,76.0,10260,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2008,WD,Abnorml
111,1572,20,RL,75.0,9525,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
519,1980,120,RL,135.0,12304,Pave,NaN,IR3,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal
658,2119,45,RM,50.0,5000,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,NaN,0,4,2008,WD,Normal
27,1488,20,RL,73.0,8987,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
830,2291,60,RL,110.0,13440,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2007,New,Partial
94,1555,20,RL,100.0,15263,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
390,1851,60,RL,50.0,9350,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
536,1997,60,RL,NaN,11000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal
946,2407,20,RL,65.0,6860,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2007,WD,Normal
411,1872,60,RL,79.0,11646,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
590,2051,20,RL,74.0,7785,Pave,NaN,IR1,Lvl,AllPub,...,200,0,NaN,GdWo,NaN,0,3,2008,WD,Normal
708,2169,60,RL,68.0,8998,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal
437,1898,70,RL,43.0,5707,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,NaN,0,3,2009,WD,Normal

In [39]:
df_test_dummies = pd.get_dummies(df_test, columns = categorical_columns)
df_test_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
1019,2480,80,65.0,14149,5,8,1964,2001,50.0,68.0,...,0,0,0,1,0,0,0,0,1,0
256,1717,20,63.0,7500,7,5,2006,2006,0.0,54.0,...,0,0,0,1,0,0,0,0,1,0
87,1548,50,50.0,6000,6,7,1948,1950,0.0,300.0,...,0,0,0,1,0,0,0,0,1,0
223,1684,60,63.0,10928,7,5,2005,2005,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1071,2532,60,70.0,8749,7,5,2003,2003,0.0,654.0,...,0,0,0,1,0,0,0,0,1,0
182,1643,60,NaN,7500,8,5,2000,2001,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
420,1881,20,90.0,11664,7,5,2002,2002,0.0,1234.0,...,0,0,0,1,0,0,0,0,1,0
741,2202,70,54.0,7609,8,9,1925,1997,0.0,406.0,...,0,0,0,1,0,0,0,0,1,0
941,2402,20,80.0,9600,5,6,1955,1955,176.0,368.0,...,0,0,0,1,0,0,0,0,1,0
311,1772,20,70.0,8750,5,5,1955,1955,0.0,172.0,...,0,0,0,1,0,0,0,0,1,0

## Making Sure Get Dummies returns the same number of Columns as the Training and Validation sets since all categories might not be present in the Testing set

In [40]:
# df_test = df_test.reindex(columns = X_train.columns, fill_value=0)
X_train, df_test_dummies = X_train.align(df_test_dummies, join='left', axis=1)
X_train.shape, df_test_dummies.shape

((1241, 289), (1459, 289))

In [41]:
df_test_dummies.fillna(df_test_dummies.mean() , inplace = True)
df_test_dummies.sample(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
1382,2843,60,50.000000,8340,6,6,1977,1977,62.0,509.0,...,0,0,0,1,0,0,0,0,1,0
747,2208,50,70.000000,12392,7,9,1950,2000,0.0,435.0,...,0,0,0,1,0,0,0,0,1,0
1372,2833,20,78.000000,11645,8,5,2005,2006,198.0,1122.0,...,0,1,0,0,0,0,0,0,0,1
529,1990,60,68.580357,8396,7,5,2003,2003,196.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1033,2494,20,68.580357,22692,5,5,1953,1953,0.0,587.0,...,0,0,0,0,0,0,0,0,1,0
1088,2549,60,60.000000,7023,5,5,2005,2006,0.0,611.0,...,0,0,0,1,0,0,0,0,1,0
324,1785,30,60.000000,10230,5,7,1925,1950,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
567,2028,160,30.000000,3180,7,5,2007,2007,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
1196,2657,60,82.000000,9942,9,5,2005,2006,385.0,1290.0,...,0,1,0,0,0,0,0,0,0,1
9,1470,20,70.000000,8400,4,5,1970,1970,0.0,804.0,...,0,0,0,1,0,0,0,0,1,0

In [43]:
df_test_dummies.columns[df_test_dummies.isnull().sum() > 0 ]

Index([u'Utilities_NoSeWa', u'Condition2_RRAe', u'Condition2_RRAn',
       u'Condition2_RRNn', u'HouseStyle_2.5Fin', u'RoofMatl_ClyTile',
       u'RoofMatl_Membran', u'RoofMatl_Metal', u'RoofMatl_Roll',
       u'Exterior1st_ImStucc', u'Exterior1st_Stone', u'Exterior2nd_Other',
       u'Heating_Floor', u'Heating_OthW', u'Electrical_Mix', u'GarageQual_Ex',
       u'PoolQC_Fa', u'MiscFeature_TenC'],
      dtype='object')

In [42]:
y_submit_pred = lin_reg.predict(df_test_dummies)
print(y_submit_pred)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').